.gallery-section {
    padding: 40px 0;
    flex-grow: 1;
    text-align: left;
}

.gallery-section h2 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.gallery-section .total-pets {
    font-size: 1em;
    color: black;
    margin-bottom: 30px;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}