.header {
    background-color: #29a33e;
    color: white;
    padding: 25px 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    text-align: left;
    padding-left: 19px;
    font-size: 2.5em;
}

.s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    list-style: none;
    padding-right: 20px;
    margin: 10px;
    display: flex;
    justify-content: right;
}

.header nav ul li {
    margin: 0 5px;
    display: inline-block;
    position: relative;
    padding-right: 22px;
}

.header nav ul li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header nav ul li a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.header nav ul li a:focus {
    outline: none;
}

.header nav ul li a:hover {
    color: #e2e6ea;
}

.header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #e2e6ea;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}